* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-bg-color: #fef9f0;
  --body-text-color: black;
  --box-shadow: rgb(47 72 88);
  --gretings-color: #2eab65;
}

body {
  color: var(--body-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Press Start 2P", cursive;
  width: 100%;
  background: var(--body-bg-color);
}

.light-mode {
  --body-bg-color: #2f4858;
  --body-text-color: #fef9f0;
  --box-shadow: #fef9f0;
  --gretings-color: #00d8ac;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgba(255, 203, 5));
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #2eab65);
}

.header-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

h2 {
  position: relative;
  font-size: 6rem;
  color: var(--body-bg-color);
  font-family: "Press Start 2P", cursive;
  margin-bottom: 1em;
}

h2::before {
  content: attr(data-text);
  position: absolute;
  color: rgba(255, 203, 5);
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 5px solid black;
  animation: animate 8s linear infinite;
  filter: drop-shadow(12px 0 rgba(29, 44, 94, 1))
    drop-shadow(0 12px rgba(29, 44, 94, 1));
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

.gretings {
  font-size: 3rem;
  color: var(--gretings-color);
  margin-bottom: 0.5em;
  filter: drop-shadow(5px 0 0 black);
}

.input-container {
  width: 650px;
  margin: 0 auto;
}

input {
  position: relative;
}

input[type="text"] {
  background: var(--box-shadow);
  width: 500px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
  color: var(--body-bg-color);
  font-family: "Press Start 2P", cursive;
  font-size: 1.1rem;
}

input[type="submit"] {
  border-radius: 0 25px 25px 0;
  width: 150px;
  right: -5px;
  height: 50px;
  border: none;
  cursor: pointer;
  background: rgba(255, 203, 5);
  font-family: "Press Start 2P", cursive;
  font-size: 1.1rem;
  transition: 2s;
}

input[type="submit"]:hover {
  background: #2eab65;
  transform: scale(1.05);
  transition: 1s;
}

.pokemon-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon-img {
  width: 100px;
}

.fa-circle-arrow-left {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.5em;
  font-size: 3rem;
  opacity: 0.5;
  color: var(--box-shadow);
  transition: 1s;
  cursor: pointer;
}

.fa-solid:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 1s;
}

.fa-right-from-bracket {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.5em;
  font-size: 3rem;
  opacity: 0.5;
  color: #c0564b;
  transition: 1s;
  cursor: pointer;
}

.fa-sliders {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.5em;
  font-size: 3rem;
  opacity: 0.5;
  color: var(--box-shadow);
  transition: 1s;
  cursor: pointer;
}

.settings {
  font-size: 5.5rem;
  position: absolute;
  top: 0;
  margin-top: 1em;
}
