*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
  display: flex;
}

.App{
  margin: 0 auto;
}

.route{
  text-align: center;
}

.pokemon-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon-img{
  width: 100px;
}
