.pokedex {
  margin-top: 1em;
  color: var(--body-bg-color);
}

.container_type-pokemon {
  margin-top: 2em;
  width: 300px;
  height: 50px;
  cursor: pointer;
  border: none;
  box-shadow: 0 5px 20px var(--box-shadow);
  padding: 12px 20px;
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: 0.7rem;
}

.container_type-pokemon::-webkit-scrollbar {
  width: 10px;
}

.container_type-pokemon::-webkit-scrollbar-thumb {
  background: rgba(255, 203, 5);
  border-radius: 2em;
}

.container_type-pokemon::-webkit-scrollbar-thumb:hover {
  background: #2eab65;
}

.type-pokemon {
  text-indent: 50px;
}

.pagination {
    position: relative;
    background: #fff;
    display: flex;
    padding: 10px 20px;
    box-shadow: 0 5px 15px var(--box-shadow);
    gap: .3em;
    flex-wrap: wrap;
    border-radius: 50px;
    margin: 2em;
}

.page-number{
    width: 50px;
   height: 50px;
   font-family: "Press Start 2P", cursive;
   font-size: .7rem;
   cursor: pointer;
   border-radius: 50%;
   border: none;
 background: none;
 box-shadow: 5px 3px 1px rgba(47, 72, 88, .35);
    
}

.page-number:hover{
   background: #2eab65;
   color: #fff;
   box-shadow: 0 5px 15px rgba(47, 72, 88, 1);
   
}

.change-page{
    /* font-weight: 600; */
    font-family: "Press Start 2P", cursive;
    font-size: .6rem;
    cursor: pointer;
    border-radius: 1em;
    padding: 0 .5em;
    border: none;
    background: none;
    box-shadow: 5px 3px 1px rgba(47, 72, 88, .35);
}

.change-page:hover{
    background:rgba(255, 203, 5);
    color: #fff;
    box-shadow: 0 5px 15px rgba(47, 72, 88, 1);
}

.pokemons-container{
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.pokemon-card{
  text-align: center;
  background: #2eab65;
  width: 300px;
  height: 300px;
  cursor: pointer;
  transition: 1s;
}

.pokemon-card:hover{
  transform: scale(1.1);
  transition: 1s;
}

.pokemon-name{
  font-size: 1.5rem;
}

.pokemon-detail{
  margin-top: 10em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2eab65;
  width: 70vw;
  height: 400px;
}

.pokemon-img_detail{
  position: absolute;
  top: -50px;
  width: 300px;
  height: 250px;
}

.characteristic{
  position: relative;
  margin-top: 15em;
  gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wandh{
  width: 400px;
  display: flex;
  justify-content: space-between;
}

b{
  color: white
}

.number-pokemon{
  border: 1px solid black;
  padding: 1em;
}

span{
  font-weight: 100;
}

hr{
  width: 100%;
}



