.settings-container {
  position: relative;
  top: 5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.theme-container {
  box-shadow: 0 5px 20px rgb(47 72 88);
  width: 70vw;
  height: 200px;
  padding: 2em 4em;
}

.items-container {
  box-shadow: 0 5px 20px rgb(47 72 88);
  width: 70vw;
  height: 300px;
  padding: 2em 4em;
}

.proof{
    width: 80%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 5rem;
}
